<div *ngFor="let residence of filteredResidences; let i = index">
   
    <h3>{{ residence.name }}</h3>
    
    
    <p>Status: {{ residence.status }}</p>
    
   
    <button (click)="toggleAddress(i)">Show Location</button>
    <button (click)="addToFavorites(residence)">❤️ Like</button>
    <a [routerLink]="['/residence', residence.id]" class="btn btn-link">Voir Détails</a>

    
   
    <ng-container [ngSwitch]="residence.status">
      <span *ngSwitchCase="'Disponible'" style="color: green;">✔ Disponible</span>
      <span *ngSwitchCase="'En Construction'" style="color: orange;">🔧 En Construction</span>
      <span *ngSwitchCase="'Vendu'" style="color: red;">❌ Vendu</span>
    </ng-container>
  </div>
  
  
  <input
    type="text"
    placeholder="Rechercher par adresse..."
    [(ngModel)]="searchTerm"
  />
  